header
{
    text-align: center;
    padding: 1px;
    background-color: rgb(255, 212, 147);   
}

main
{
    flex-direction: column;
    display: flex;
    background-color: antiquewhite;
}

#container{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: auto;
    flex-wrap: wrap;
    width: 600px;

}

.custom-form {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    text-align: center;
}

.card
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color:brown;
}

.img-container
{
    height: 150px;
    width: 150px;
}

img
{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.cat-name
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.cat-breed
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
}
